.wrapper {
  padding-top: var(--space);
  display: flex;
}

.names {
  width: 50vw;
  max-height: calc(100vh - 65px);
  overflow: scroll;
}

.nameRow {
  height: var(--space);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  cursor: pointer;
}

.nameRowGrey {
  background: var(--grey);
}

.nameRow:hover {
  background: var(--blue);
}

.nameRowGreen:hover {
  background: var(--green) !important;
}

.content {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}

.content,
.header {
  width: 50vw;
}

.header p {
  font-size: 48px;
  line-height: 50px;
  font-family: "Activist";
  font-weight: 100;
  letter-spacing: -2px;
  padding: 12px;
}

.headline {
  min-height: var(--space);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  width: 100%;
}

.headline h1 {
  padding: 10px 0;
}

.website {
  width: 50%;
  height: calc(var(--space) / 2);
  background: var(--grey);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12pt;
}

.website:hover {
  background: var(--red);
}

.websiteWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.textWrapper {
  padding: var(--space) 12px;
}

.textWrapper p {
  padding-bottom: 20px;
}

.imageWrapper {
  width: 50vw;
  position: relative;
  min-height: 50vh;
}

.bildunterschrift {
  font-size: 12pt;
  padding-left: 12px;
  padding-bottom: var(--space)
}

@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column
  }
  .content,
  .header, .names {
    width: 100vw;
  }

  .header {
    position: fixed;
    top: 35px;
    z-index: 0;
  }
  .header p {
    font-size: 28px;
    line-height: 30px;
    font-family: "Activist";
    font-weight: 20;
    letter-spacing: -1px;
    margin: 0;
  }

  .names {
    z-index: 1;
    background: white;
    overflow: unset;
    max-height: unset;
  }

  .nameRow {
    min-height: var(--space);
    height: unset;
    padding: 8px 40px 6px 12px
  }

  .nameRow h2 {
    font-size: 12pt;
    line-height: 13pt;
    letter-spacing: 0.2px
  }
  .website, .bildunterschrift {
    font-size: 8pt;
    letter-spacing: 0.5px
  }
.imageWrapper {
  width: 100vw;
  min-height: unset
}
}