.footerWrapper {
  display: flex;
}
.footerSegment {
  width: 50vw;
  height: 250px;
  padding: 80px 0 0 20px;
}

.footerSegment h2 a:hover, .footerLinks h2 a:hover {
  color: var(--green)
}

.impressumWrapper {
  width: 100vw;
  column-count: 2;
  column-gap: 40px;
  font-size: 12pt;
  padding: 70px 20px;
}

.footerLinks {
  position: absolute;
  transform: translate(20px, 70px)
}

@media screen and (max-width: 700px) {
  .footerSegment {
    padding: 50px 10px;
    height: 60vw;
  }

  .footerSegment:nth-child(2) {
    padding-top: calc(50px + 1vw);
  }

  .footerSegment h2 {
    font-size: 4vw;
    line-height: 5vw;
    letter-spacing: -0.5px;

  }
  .footerSegment h2 a {
    line-height: 8vw;
  }
  .impressumWrapper {
    column-count: 1;
    padding: 30px 10px
  }
}
