.footerWrapper {
  display: flex;
}
.footerSegment {
  width: 50vw;
  padding: var(--space) var(--spaceSmall);
}

.footerLinksMobile {
  display: none;
}
/* .footerSegment h2 a:hover,
.footerLinks h2 a:hover {
  color: var(--green);
} */

.impressumWrapper {
  width: 100%;
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
  font-size: 12pt;
  line-height: 16pt;
  padding: var(--space) var(--spaceSmall);
}

.impressumOuter {
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.footerLinks {
  position: absolute;
  transform: translate(var(--spaceSmall), var(--space));
}

@media screen and (max-width: 700px) {
  .footerWrapper {
    flex-flow: column-reverse;
  }
  .footerSegment {
    width: 100%;
    padding: var(--space) var(--spaceSmall);
  }
  .footerSegment h2,
  .footerWrapper h2 {
    font-size: 4.8vw;
    line-height: 6vw;
    letter-spacing: -0.5px;
  }
  .impressumWrapper {
    column-count: 1;
    padding: 0 var(--spaceSmall) var(--space);
  }
  .footerLinks {
    display: none;
  }
  .footerLinksMobile {
    width: 100%;
    display: flex;

    justify-content: space-between;
  }
}
