html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 22.5px;
  font-weight: 100;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: url(../public/fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Activist";
  font-style: normal;
  src: url(../public/fonts/Activist.otf) format("opentype");
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green: #005800;
  --red: #ff3d00;
  --pink: #ffa0ff;
  --blue: #00beff;
  --space: 65px;
  --spaceMedium: 48px;
  --spaceSmall: 12px;
  --spaceTiny: 5px;
}

::selection {
  background: black;
  color: white;
}

h1 {
  font-size: 48px;
  line-height: 45px;
  font-family: "Activist";
  font-weight: 100;
  letter-spacing: -2px;
  margin: 0;
}

h2 {
  font-size: 28px;
  line-height: 30px;
  font-family: "Activist";
  font-weight: 20;
  letter-spacing: -1px;
  margin: 0;
}

h3 {
  font-size: 13px;
  line-height: 20px;
  font-family: "Activist";
  font-weight: 20;
  letter-spacing: 0px;
  margin: 0;
}

p {
  margin: 0;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.anchor {
  position: absolute;
  transform: translateY(-65px);
  width: 100%;
  height: 65px;
  pointer-events: none;
}

.anchorNewsletter {
  position: absolute;
  transform: translateY(-65px);
  width: 100%;
  height: 65px;
  pointer-events: none;
}

.wrapper {
  position: relative;
  background: white;
  margin-top: 130vh;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  :root {
    --space: 42px;
    --spaceSmall: 12px;
    --spaceTiny: 5px;
  }
  body {
    font-size: 12pt;
  }
  main {
    overflow: hidden;
  }
  h1,
  h2 {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 24px;
  }

  .anchor {
    transform: translateY(-78px);
    height: 78px;
  }

  .anchorNewsletter {
    position: absolute;
    transform: translateY(-200px);
    width: 100%;
    height: 200px;
    pointer-events: none;
  }
}
