.outer {
  display: flex;
}
.wrapper {
  padding-top: var(--space);
  width: 50vw;
  margin-left: 50vw;
}

.header {
  padding-top: 4px;
  position: fixed;
  width: 50vw;
  background: white;
  z-index: 100;
  font-family: "Activist";
  height: var(--space);
}

.headerMobile {
  height: 30px;
  background: var(--pink);
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.headerFilter {
  display: flex;
  /* height: var(--space); */
}

.header h2 {
  cursor: pointer;
}

.headerLinks {
  padding-left: 12px;
  font-family: "Activist";
  background: var(--pink);
  overflow: hidden;
  transition: height 0.2s ease;
}

.headerLinks a:hover {
  text-decoration: underline;
}

.headerLinksWrapper {
  padding-bottom: 30px;
  min-height: 65px;
}

.filterDate {
  padding-right: 30px;
}

.headerSegment {
  padding-left: 12px;
  width: 25%;
}

.body {
  padding-top: var(--space);
}

.infoOuter {
  padding-top: 4px;
  overflow: hidden;
  cursor: pointer;
}

.infoOuter:hover,
.header:hover {
  background: var(--pink);
}

.infoTextpart {
  padding-left: 12px;
}

.infoTextpart p {
  padding-bottom: 30px;
}

.headline {
  padding-bottom: 30px;
}

.infoRowBottom {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  padding-top: 4px;
  font-family: "Activist";
  letter-spacing: -1px;
  line-height: 18pt;
}

.infoSegment {
  width: 25%;
}

.infoRow:hover {
  background: var(--pink);
}

.bgGrey {
  background: var(--grey);
}

.accordeon {
  transition: height 0.2s ease;
}

.filterHeader {
  font-family: "Activist";
  background: var(--red);
  padding-left: 12px;
  cursor: default;
}

.plusAnimation {
  position: absolute;
  right: 16px;
  transition: all 0.3s ease;
}

.plusAnimationStatic {
  position: absolute;
  right: 16px;
  transform: rotate(90deg) translateY(-1px);
}

.kalenderMobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100vw;
    margin-left: 0;
  }
  .body {
    padding-top: 18px;
  }
  .headline {
    padding-bottom: 0;
    width: 90%;
  }
  .filterHeader {
    padding-left: 10px;
  }
  .infoTextpart {
    padding-left: 8px;
  }
  .infoRowBottom {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .infoSegment {
    width: 100%;
    padding-bottom: 10px;
  }
  .infoOuter:hover,
  .header:hover {
  }
  .infoRowBottom {
    line-height: 11pt;
    letter-spacing: 0;
  }

  .plusAnimationWrapper {
    transform: translateY(-1px);
  }

  .plusAnimation {
    position: absolute;
    right: 16px;
    transition: all 0.3s ease;
  }

  .plusAnimationStatic {
    position: absolute;
    right: 16px;
    transform: rotate(90deg) translateY(-1px);
  }
  .kalenderDesktop {
    display: none;
  }
  .kalenderMobile {
    display: block;
  }
  .headerLinksWrapper {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 65px;
    background: var(--pink);
    z-index: 10;
  }
  .headerLinksWrapper {
    padding-top: 20px;
    transition: top 0.5s ease;
  }

  .headerSegment {
    padding-left: 8px;
  }

  .filterInnerMobile {
    margin: 15px 10px;
    font-size: 12pt;
    line-height: 14pt;
    overflow: hidden;
    transition: height 0.2s ease;
  }

  .filterInnerMobileDate {
    margin: 15px 10px;
    width: 100%;
    padding-right: 20px;
    font-size: 12pt;
    line-height: 14pt;
    overflow: hidden;
    transition: height 0.2s ease;
  }

  .filterInnerMobileDate div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filterDate {
    padding: 0;
  }
}
