.A {
  width: 100%;
  height: 53.2%;
}

.B1 {
  display: flex;
  width: 50%;
  height: 100%;
}
.A_row {
  height: 50%;
  width: 100%;
}
.B_row {
  display: flex;
  height: 50%;
  width: 100%;
}

.C_row {
  display: flex;
  height: 25%;
  width: 100%;
}
.D_row {
  display: flex;
  height: 12.5%;
  width: 100%;
}
.E_row {
  display: flex;
  height: 6.25%;
  width: 100%;
}
.horizontal {
  width: 100%;
  height: 50%;
  display: flex;
  pointer-events: "auto";
}

.vertical {
  width: 50%;
  height: 100%;
  pointer-events: "auto";
}

.horizontal_frst {
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: "auto";
}

.mainTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100%);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  pointer-events: none;
}

.mainTitle h1 {
  font-size: 28vw;
  line-height: 0;
  letter-spacing: -2.8vw;
  transform: translateX(-1.5vw);
  color: white;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  height: 40vw;
  padding-top: 45vh;
  /* background:blue; */
  /* transform: translate(-1.5vw, 46vh); */
}

@media screen and (max-width: 700px) {
  /* .A {
    height: 50%;
  } */
}