

.mainTitle {
  top: 0;
  left: 0;
  width: 100vw;
  /* height: calc(100%); */
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.mainTitle h1 {
  font-size: 28vw;
  line-height: 0;
  letter-spacing: -2.8vw;
  transform: translateX(-1.5vw);
  color: rgba(255, 255, 255, 0.9);
  /* mix-blend-mode: difference; */
  top: 0;
  height: 45vw;
  padding-top: 45vh;
  z-index: 1001;
  /* transform: translate(-1.5vw, 46vh); */
}

@media screen and (max-width: 700px) {
  /* .A {
    height: 50%;
  } */
}