.infoHeadline {
  text-align: center;
}

.infoTextWrapper,
.infoTextHeadlineWrapper {
  padding: var(--space) 0;
}

.infoTextHeadline {
  padding: 0 0 var(--space) var(--spaceSmall);
}

.infoText {
  padding: 0 var(--spaceSmall);
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.infoText p {
  text-indent: 12vw;
}

.infoSubHeadline {
  padding: 70px 20px 0 20px;
  height: 130px;
}

.infoSubHeadlineDownloads {
  padding: var(--space) var(--spaceSmall);
  width: 100%;
}

.space {
  width: 50vw;
  height: 137px;
}

/* MARQUEE */

.marquee {
  padding-top: var(--space);
  padding-bottom: var(--spaceSmall);
  background: var(--green);
  display: flex;
  align-items: flex-end;
}

.marquee:hover {
  background: white;
}

/* TEAM */

.teamWrapper {
  padding: var(--space) var(--spaceSmall);
}

.teamHeadline {
  padding-bottom: var(--space);
}

.teamWrapper ul {
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.teamWrapper ul li {
  break-inside: avoid-column;
  padding-bottom: var(--spaceSmall);
}

.teamWrapper ul li {
  padding-bottom: var(--spaceTiny);
}

/* DOWNLOADS */

.downloadContent {
  padding: 0 var(--spaceSmall) var(--space);
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.downloadItem {
  break-inside: avoid-column;
}

.downloadItem .downloadRow {
  margin-top: calc(2 * var(--spaceSmall));
}

.downloadItem .downloadRow:first-child {
  margin-top: 0;
}

.downloadRow {
  display: flex;
  pointer-events: none;
}

.downloadRow p {
  min-width: 100px;
  pointer-events: auto;
}

.fileExtension {
  text-transform: uppercase;
}

/* LOGOS */

.logosWrapper {
  display: flex;
  padding: var(--space) var(--spaceSmall);
}

.logoHeader {
  width: 33vw;
  height: 100%;
}

.logoInner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.logoInner div {
  width: clamp(100px, 20vw, 300px);
}

.mobileInfoText,
.mobileInfoTextCropped {
  display: none;
}

@media screen and (max-width: 700px) {
  .infoHeadline {
    padding: 0 10px;
  }
  .mobileInfoText {
    display: block;
    padding: 0px 5px 0 15px;
    column-count: 1;
    font-size: 16px;
  }

  .infoTextWrapper,
  .infoText {
    display: none;
  }

  .mobileInfoText p {
    text-indent: 12vw;
  }
  .mehrLesen {
    padding: 20px 0 var(--space) 0;
    width: 100%;
  }
  .mobileAccordionClosed {
    height: 307px;
    overflow: hidden;
  }
  .mobileAccordionOpen {
    height: auto;
  }
  .infoSubHeadline,
  .infoSubHeadlineDownloads {
    width: 100%;
    padding: 55px 10px;
  }
  .infoTextHeadlineWrapper {
    padding-bottom: 0;
  }
  .mobileInfoText {
    padding-top: var(--space)
  }
  .space {
    display: none;
  }
  .marquee {
    height: 80px;
    padding-bottom: 2px;
  }
  .teamWrapper {
    display: block;
  }
  .teamHeadline {
    padding-bottom: 31px;
  }

  .teamLeft,
  .teamRight {
    width: 100%;
  }
  .teamRight {
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .teamLeftHeadline {
    height: 80px;
    padding-left: 10px;
  }
  .teamWrapper ul {
    column-count: 1;
  }
  
  .teamWrapper ul li {
    padding-bottom: var(--spaceSmall);
  }
  .teamWrapper ul li:last-child {
    padding-bottom: 0;
  }
  .downloadContent {
    padding: 10px;
    column-count: 1;
  }
  .downloadRow p {
    min-width: 50px;
  }
  .downloadItem p {
    margin-bottom: 25px;
  }
  .logoHeader {
    padding-bottom: var(--space);
    width: 100%;
  }
  .logosWrapper {
    display: block;
    min-height: unset;
    padding-bottom: 0;
  }
  .logoInner div {
    padding: 0 0 60px;
    width: 51%;
  }
}
