.infoHeadline {
  padding: 70px 0 70px 0;
  text-align: center;
}

.infoText {
  padding: 70px 20px;
  column-count: 2;
  column-gap: 40px;
}

.infoText p {
  text-indent: 12vw;
}

.infoSubHeadline {
  padding: 70px 20px 0 20px;
  width: 50vw;
}

.space {
  width: 50vw;
  height: 137px;
}

/* MARQUEE */

.marquee {
  height: 130px;
  background: var(--green);
  display: flex;
  align-items: flex-end;
}

/* TEAM */

.teamWrapper {
  display: flex;
}

.teamLeft,
.teamRight {
  width: 50vw;
}

.teamLeftHeadline {
  height: 130px;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
}

.teamRight {
  padding: 62px 0 70px 20px;
}

.teamRight li {
  padding-bottom: 20px;
}

.teamSpace {
  height: calc(100% - 130px);
  width: 50vw;
}

/* DOWNLOADS */

.downloadContent {
  padding: 70px 20px;
  column-count: 2;
  column-gap: 40px;
}

.downloadItem p {
  margin-bottom: 40px;
}

.downloadRow {
  display: flex;
  pointer-events: none;
}

.downloadRow p {
  min-width: 100px;
  pointer-events: auto;
}

/* LOGOS */

.logosWrapper {
  display: flex;

  min-height: 200px;
}

.logoHeader {
  width: 25vw;
  height: 100%;
  padding: 80px 0 0 20px;
}

.logoInner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logoInner div {
  width: 30%;
  padding: 50px;
}

.mobileInfoText,
.mobileInfoTextCropped {
  display: none;
}

@media screen and (max-width: 700px) {
  .infoHeadline {
    padding: 50px 10px 15px 10px;
  }
  .mobileInfoText {
    display: block;
    padding: 0px 5px 0 15px;
    column-count: 1;
    font-size: 16px;
  }

  .infoText {
    display: none;
  }

  .mobileInfoText p {
    text-indent: 12vw;
  }
  .mehrLesen {
    padding: 20px 0 40px 40px;
    height: 70px;
    width: 100vw;
  }
  .mobileAccordionClosed {
    height: 307px;
    overflow: hidden;
  }
  .mobileAccordionOpen {
    height: auto;
  }
  .infoSubHeadline {
    width: 100vw;
    padding: 40px 10px;
  }
  .space {
    display: none;
  }
  .marquee {
    height: 80px;
  }
  .teamWrapper {
    display: block;
  }

  .teamLeft,
  .teamRight {
    width: 100%;
  }
  .teamRight {
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .teamLeftHeadline {
    height: 80px;
    padding-left: 10px;
  }
  .downloadContent {
    padding: 10px;
    column-count: 1;
  }
  .downloadRow p{
    min-width: 50px; 
  }
  .downloadItem p {
    margin-bottom: 25px;
  }
  .logoHeader {
    padding: 50px 10px;
    width: 100%;
  }
  .logosWrapper {
    display: block;
    min-height: unset;
  }
  .logoInner div{
    padding: 0 0 60px;
    width: 60%;
  }
}
