.infoPageWrapper {
  scroll-behavior: smooth;
}

.infoHeadline {
  text-align: center;
}

.infoTextHeadlineSection {
  display: flex;
  font-family: "Activist";
  padding-left: 12px;
  padding-bottom: calc(2 * var(--spaceSmall));
}

.infoTextHeadlineSection h2 {
  width: 80px;
  line-height: 40px;
  font-size: 12.5pt;
}

.infoTextWrapper,
.infoTextHeadlineWrapper {
  padding: var(--spaceLarge) 0;
}

.infoTextHeadline {
  padding: 0 0 calc(2 * var(--spaceSmall)) var(--spaceSmall);
}

.infoText {
  padding: 0 var(--spaceSmall);
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.infoText p {
  padding-bottom: 30px;
}

.infoSubHeadline {
  padding: 70px 20px 0 20px;
  height: 130px;
}

.infoSubHeadlineDownloads {
  padding: var(--space) var(--spaceSmall);
  width: 100%;
}

.space {
  width: 50vw;
  height: 137px;
}

/* MARQUEE */

.marquee {
  padding-top: var(--space);
  padding-bottom: var(--spaceSmall);
  background: var(--green);
  display: flex;
  align-items: flex-end;
}

.marquee:hover {
  background: var(--red);
}

.marquee h1,
.newsletterMarquee h1 {
  padding-left: 15px;
}

.newsletterMarquee {
  display: flex;
  align-items: center;

  /* flex-direction: column; */
  /* justify-content: space-between; */
  height: 120px;
  padding-bottom: var(--spaceSmall);
  background: var(--blue);
  cursor: default;
}

.newsletterMarqueeHalf {
  padding-top: 10px;
  width: 50vw;
  display: flex;
}

.newsletterMarqueeHalf h2 {
  padding-left: var(--spaceSmall);
}

.newsletterMarqueeHalf form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--spaceSmall)
}

.newsletterMarquee:hover {
  background: var(--pink);
}

.newsletterMarquee input,
.newsletterMarquee input::placeholder,
.newsletterMarquee input:focus {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  background: none;
  margin: var(--spaceSmall);
  font-family: "Rubik", sans-serif;
  font-size: 22.5px;
  color: black;
  opacity: 1;
  width: 50vw;
}

.newsletterMarquee button {
  border: 0;
  outline: 0;
  font-family: "Rubik", sans-serif;
  font-size: 22.5px;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletterMarquee button:hover {
  border-bottom: 2px solid black;
}

.formStatus {
  margin: var(--spaceSmall);
}

/* TEAM */

.teamWrapper {
  padding: var(--space) var(--spaceSmall);
  background: var(--blue);
}

.teamHeadline {
  padding-bottom: var(--space);
}

.teamWrapper ul {
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.teamWrapper ul li {
  break-inside: avoid-column;
  padding-bottom: var(--spaceSmall);
}

.teamWrapper ul li {
  padding-bottom: var(--spaceTiny);
}

.teamLink:hover {
  text-decoration: underline;
}

/* PRESSE */

.pressPageWrapper {
  padding-top: var(--space);
}

.presseSubheadline {
  padding-top: var(--spaceSmall);
}

.presseContent {
  padding: 0 var(--spaceSmall) var(--space);
}

.presseText {
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

/* DOWNLOADS */

.downloadContent {
  /* padding: 0 var(--spaceSmall) var(--space); */
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.downloadContentPresse {
  padding: 0 var(--spaceSmall) var(--space);
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
}

.downloadItem {
  break-inside: avoid-column;
}

.downloadItem .downloadRow {
  margin-top: calc(2 * var(--spaceSmall));
}

.downloadItem .downloadRow:first-child {
  margin-top: 0;
}

.downloadRow {
  display: flex;
  pointer-events: none;
}

.downloadRow p {
  min-width: 100px;
  pointer-events: auto;
}

.fileExtension {
  text-transform: uppercase;
}

/* LOGOS */

.logosWrapper {
  display: flex;
  padding: var(--space) var(--spaceSmall);
}

.logoHeader {
  width: 33vw;
  height: 100%;
}

.logoInner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.logoInner div {
  width: clamp(100px, 20vw, 300px);
}

.mobileInfoText,
.mobileInfoTextCropped {
  display: none;
}

/* BETEILIGTE */

.beteiligteOuter {
  padding: var(--space) var(--spaceSmall);
}

.beteiligteWrapper {
  width: 100vw;
  padding: var(--spaceMedium) var(--space);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default;
}

.beteiligteDiffHover:hover {
  color: var(--pink);
}

.beteiligteNormalHover:hover {
  color: var(--blue);
}

/* INFOPAGE */

.infoTeamWrapper {
  padding: var(--spaceLarge) 0;
  background: #f2f2f2;
  width: 100vw;
}

.teamList {
  column-count: 2;
  column-gap: calc(2 * var(--spaceSmall));
  padding: 0 var(--spaceSmall) 0;
}

.teamEntry {
  padding-top: calc(2 * var(--spaceSmall));
  break-inside: avoid-column;
}

.marqueeInner {
  display: flex;
}

.marqueeInner h1 {
  padding-left: 10px;
}

@media screen and (max-width: 700px) {
  .infoHeadline {
    padding: 0 10px 40px;
  }
  .mobileInfoText {
    display: block;
    padding: 0px 5px 0 15px;
    column-count: 1;
    font-size: 16px;
  }

  .infoTextWrapper,
  .infoText {
    display: none;
  }

  .mobileInfoText p {
    padding-bottom: 20px;
  }
  .mehrLesen {
    padding: 20px 0 var(--space) 0;
    width: 100%;
  }
  .mobileAccordionClosed {
    height: 307px;
    overflow: hidden;
  }
  .mobileAccordionOpen {
    height: auto;
  }
  .infoSubHeadline,
  .infoSubHeadlineDownloads {
    width: 100%;
    padding: 40px 10px;
  }
  .infoTextHeadlineWrapper {
    padding-bottom: 0;
  }

  .infoTextHeadlineSection h2 {
    padding: 0;
    line-height: 23px;
    padding-bottom: 15px;
  }

  .infoTextHeadlineSection {
    padding-left: 0;
  }

  .mobileInfoText {
    padding-top: var(--space);
  }
  .mobileInfoHeading {
    font-family: "Activist";
  }

  .space {
    display: none;
  }
  .marquee {
    height: 80px;
    padding-bottom: 2px;
  }

  .newsletterMarquee {
    height: 80px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
  }

  .newsletterMarquee form {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .newsletterMarquee input {
    width: 50%;
  }
  .newsletterMarquee input,
  .newsletterMarquee input::placeholder,
  .newsletterMarquee input:focus,
  .newsletterMarquee button {
    font-size: 16px;
    border-radius: 0;
  }
  .newsletterMarquee input:focus {
    width: 50%;
  }
  .newsletterMarquee button {
    position: absolute;
    right: 0;
    padding-top: 12px;
    color: black;
    font-weight: 100;
    margin: 0;
  }

  .newsletterMarqueeHalf h2 {
    font-size: 12pt;
    padding-left: 12px;
  }

  .newsletterMarqueeHalf {
    width: 100vw;
    padding: 0;
  }

  .teamWrapper {
    display: block;
  }
  .teamHeadline,
  .logoHeader h2 {
    padding-bottom: 21px;
    font-size: 12pt;
    letter-spacing: -0.3px;
  }

  .teamLeft,
  .teamRight {
    width: 100%;
  }
  .teamRight {
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .teamLeftHeadline {
    height: 80px;
    padding-left: 10px;
  }
  .teamWrapper ul {
    column-count: 1;
  }

  .teamWrapper ul li {
    padding-bottom: var(--spaceSmall);
  }
  .teamWrapper ul li:last-child {
    padding-bottom: 0;
  }
  .downloadContent {
    padding: 0px;
    column-count: 1;
  }
  .downloadContentPresse {
    padding: 0px 10px;
    column-count: 1;
  }
  .downloadRow p {
    min-width: 50px;
  }
  .downloadItem p {
    margin-bottom: 25px;
  }

  .logoHeader {
    width: 100%;
  }
  .logosWrapper {
    display: block;
    min-height: unset;
    padding-bottom: 0;
  }
  .logoInner {
    justify-content: space-between;

    padding-bottom: 40px;
  }

  .logoInner div {
    padding: 20px 5px;
    width: 40%;
  }

  .presseText {
    column-count: 1;
  }
  .presseSubheadline {
    font-size: 15px;
  }

  .beteiligteWrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .infopageLogosWrapper {
    display: none;
  }

  .teamList {
    column-count: 1;
  }
}
