.navWrapper {
  position: fixed;
  top: 0;
  height: var(--space);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-family: "Activist";
  z-index: 10000;
  color: white;
  -webkit-text-stroke-color: white;
}

.navWrapperInv {
  position: fixed;
  top: 0;
  height: var(--space);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-family: "Activist";
  z-index: 10000;
  color: rgb(0, 2, 28);
  -webkit-text-stroke-color: rgb(0, 2, 28);
}

.navWrapper::selection {
  background: transparent;
  color: rgb(0, 2, 28);
}

.navWrapper h2 {
  line-height: 28px;
}

.navLeft,
.navRight {
  width: 50vw;
  height: 100%;
  /* padding: var(--spaceTiny) var(--spaceSmall); */
}

.navLeft {
  padding-left: 12px;
}

.navRightTop {
  display: flex;
  justify-content: flex-end;
}

.outline {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  /* letter-spacing: 0.5px; */
}

.menu {
  text-align: right;
  width: 150px;
  pointer-events: auto;
}

.menuSub {
  width: 100%;
  display: flex;
  transition: transform 0.6s ease;
  pointer-events: auto;
}

.menuSegment {
  width: 25%;
  cursor: pointer;
  padding: 5px var(--spaceSmall) 0px;
  height: 100%;
}

.bottomRow {
  position: absolute;
  left: 50vw;
  padding-left: var(--spaceSmall);
  transform: translateX(-12px);
  width: 50vw;
  display: flex;
  height: 32px;
  z-index: 1000;
}

.bottomRow a {
  width: calc(25% + 3px);
  padding-left: 12px;
}

.mobileNavWrapper {
  display: none;
}

.navLogoWide {
  padding-top: 4px;
}

.navLogoWide,
.navLogoSmall {
  pointer-events: auto;
}

.navLogoSmall {
  display: none;
}

.language {
  position: absolute;
  width: 12.5%;
  right: 0;
  top: 32px;
  padding-left: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 1720px) {
  .navLogoWide {
    display: none;
  }
  .navLogoSmall {
    padding: 4px 0;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .navWrapper {
    display: none;
  }
  .mobileNavWrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -1px;
    font-family: "Activist";
    z-index: 101;
    background: var(--green);
    overflow: hidden;
  }
  .mobileLogoWrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    padding: 6px 0 0 8px;
  }

  .mobileLogoWrapper h2 {
    line-height: 16pt;
  }

  .mobileMenuButton {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
    transform: translate(5px, -8px);
  }

  .mobileLanguage {
    position: absolute;
    right: 14px;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 73px;
    right: 0;
    width: 100vw;
    height: 100%;
    padding: 10px;
    background: var(--pink);
    /* transition: transform 0.5s ease; */
  }

  .eingerueckt {
    padding-left: 40px;
  }
  /* .mobileMenuRed a,
  .mobileMenu a {
    padding: 42px 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  } */
  /* .mobileMenuRed a:first-child,
  .mobileMenu a:first-child {
    padding-top: 23px;
  } */
}
