.navWrapper {
  position: fixed;
  top: 0;
  height: var(--space);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-family: "Activist";
  z-index: 10000;
}

.navWrapper h2 {
  line-height: 28px;
}

.navLeft,
.navRight {
  width: 50vw;
  height: 100%;
  padding: var(--spaceTiny) var(--spaceSmall);
}

.navLeft {
  /* z-index: 101; */
}

.navRightTop {
  display: flex;
  justify-content: flex-end;
}

.menu {
  text-align: right;
  width: 150px;
  pointer-events: auto;
}

.menuSub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: transform 0.6s ease;
  pointer-events: auto;
}

.mobileNavWrapper {
  display: none;
}

.navLogoWide {
  padding-top: 4px;
}

.navLogoWide,
.navLogoSmall {
  pointer-events: auto;
}

.navLogoSmall {
  display: none;
}

@media screen and (max-width: 1720px) {
  .navLogoWide {
    display: none;
  }
  .navLogoSmall {
    padding: 4px 0;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .navWrapper {
    display: none;
  }
  .mobileNavWrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    padding: 10px;
    justify-content: space-between;
    font-size: 22px;
    line-height: 44px;
    letter-spacing: -1px;
    font-family: "Activist";
    text-align: right;
    z-index: 100;
    /* transition: background-color 0.2s ease; */
  }
  .mobileLogoWrapper {
    position: absolute;
    left: 0;
    width: 288px;
    top: 0;
    z-index: 101;
    padding: 8px 0 0 8px;
  }
  .mobileMenuButton {
    position: absolute;
    right: 10px;
    width: 25vw;
    transform: translateY(-15px);
  }
  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 78px;
    right: 0;
    width: 50vw;
    padding: 10px;
    line-height: 0;
    /* transition: transform 0.5s ease; */
  }
  .mobileMenuRed {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 78px;
    right: 0;
    width: 50vw;
    padding: 10px;
    transition: transform 0.5s ease;
    background: var(--red);
    line-height: 0;
  }
  .mobileMenuRed a,
  .mobileMenu a {
    padding: 42px 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .mobileMenuRed a:first-child,
  .mobileMenu a:first-child {
    padding-top: 23px;
  }
}
